<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/api/users}" th:object="${user}" method="post">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" th:field="*{username}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" th:field="*{email}">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">age</label>
        <input type="text" class="form-control" id="age" th:field="*{age}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>