<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<table th:each="user:${users}">-->
<!--    <tr>-->
<!--        <th th:text="${user.getUsername()}" ></th>-->
<!--        <th th:text="${user.getEmail()}"></th>-->
<!--        <th th:text="${user.getAge()}"></th>-->
<!--        <th><a th:href="@{/api/cars/{userId}(userId=${user.id})}">cars</a></th>-->
<!--        <th>-->
<!--            <form th:action="@{/api/users/assign/{userId}(userId=${user.id})}" method="post">-->
<!--                <label>-->
<!--                    <select name="carId">-->
<!--                        <option th:each="car :${cars}" th:value="${car.id}" th:text="${car.getBrand()}">-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </label>-->
<!--                <button type="submit">submit</button>-->
<!--            </form>-->
<!--        </th>-->
<!--    </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Age</th>
        <th>Cars</th>
        <th>Assign Car</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/api/cars/{userId}(userId=${user.id})}">View Cars</a>
        </td>
        <td>
            <a th:href="@{/post/{userId}(userId=${user.id})}">View Posts</a>
        </td>
        <td>
            <form th:action="@{/api/users/assign/{userId}(userId=${user.id})}" method="post">
                <select name="carId">
                    <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.brand}"></option>
                </select>
                <button type="submit">Assign</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
